.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 300px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    margin-bottom: 22px;
}

.intro__subtitle {
    max-width: 546px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    width: 297px;
    background: transparent url(../img/svg/sircle-icon.svg) no-repeat left 4px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.search-form__field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.search-form__submit {
    background: #1B7DFF;
    border: 0;
    padding: 15px 39px 15px 39px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #ffffff;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
    background: #185DB9;
}